<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <title>Edit File</title>
    <link rel="icon" href="/icons/file-uploader.png" type="image/png" >
    <link rel="stylesheet" href="/css/new.css">
</head>

<body>

    <header>
        <%- include("partials/header") %>
    </header>

    <main>

        <% if (!locals.currentUser) { %>

            <section class="welcome">

                <h1>Please login</h1>

                <div class="cta">
                    <a class="btn primary" href="/login">Login</a>
                </div>

            </section>

        <% } else { %>

            <section class="file-manager">

                <aside class="sidebar">

                    <div class="sidebar-section">

                        <h3>Navigation</h3>

                        <a class="sidebar-link" href="/">← Back to Home</a>

                        <% if (parentFolder) { %>

                            <a class="sidebar-link" href="/folders/<%= parentFolder.id %>" >
                                ← Back to Folder
                            </a>

                        <% } %>

                        <a class="sidebar-link" href="/files/<%= file.id %>">
                            ← Back to File
                        </a>

                    </div>

                </aside>

                <section class="main-view">

                    <div class="current-path">

                        <h2>Edit File</h2>

                        <p>Update file name</p>

                    </div>

                    <form method="POST" class="form-box" 
                        action="/files/<%= file.id %>/edit">

                        <div class="form-group">

                            <label>File Name</label>

                            <input type="text" name="name"
                                placeholder="e.g Resume.pdf" value="<%= file.name %>" required >
                        </div>

                        <button type="submit" class="btn primary full" >
                            Update File
                        </button>
                    </form>
                </section>
            </section>
        <% } %>
    </main>

    <footer>
        <%- include("partials/footer") %>
    </footer>

</body>
</html>